<%-include("header");-%>
    
       <h1>Welcome to C.V maker</h1>
       
    
     <a href="./views/template1">
       <div class="card2">
         <h1>CV for Engineering students</h1>
         <h3>Editable</h3>
         <p>Edit by clicking on the lines.
          Drag and drop 70px X 74px picture for perfect shape from any online uploades photo<p>
       </div></a>    
       <a href="./views/template2">
        <div class="card2">
          <h1>CV for civil students</h1>
          <h3>Editable</h3>
          <p>Edit by clicking on the lines.
           Drag and drop 70px X 74px picture for perfect shape from any online uploades photo<p>
        </div></a>
         
        <!--a href="./views/template3">
          <div class="card3">
            <h1>CV for General students</h1>
            <h3>Editable</h3>
            <p>Edit by clicking on the lines.
             Drag and drop 70px X 74px picture for perfect shape from any online uploades photo<p>
          </div></a--> 
          <!--image upload part-->
          <!--div id="drop-area">
  <form class="my-form">
    <p>Upload multiple files with the file dialog or by dragging and dropping images onto the dashed region</p>
    <input type="file" id="fileElem" multiple accept="image" onchange="handleFiles(this.files)">
    <label class="button" for="fileElem">Select some files</label>
  </form>
  <div id="gallery"></div>
  <progress id="progress-bar" max=100 value=0></progress>

</div-->
<!--image upload part-->   
       <a href="about">about</a>    
     
        <!--script src="./upload.js"></script-->
        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
           
        <%-include("footer");-%>